#wrapper {
	height: 80%;
	background-color: skyblue;
	margin-top: 50px;
}

#header {
	height: 40px; width:100%;
	background-color: #6598BA;
	position: relative;
	top: 0;

}

#meat {
	height: 80%;
	background-color: #59D1D5;
	margin-top: 50px;
	text-align: center;
}

#meatcenter {
	height: 700px; width: 700px;
	background-color: steelblue;
	display: inline-block;
	margin: 0 -100px 0 0;
}

#boxes {
	height: 5.68%; width: 5.68%;
	position: relative;
	display: inline-block;
	border: 1px solid black;
	margin: 1px;
	float: left;

	font-size: 10px;
}

.wakka {
	clear: left;
}

#footer {
	height: 40px; width: 100%;
	background-color: #6598BA;

	position: fixed;
	bottom: 0;
}

.ignite {
	background-color: red;
}

.dream {
	background-color: lightcoral;
}

#menu {
	height: 10em; width: 6em;
	background-color: darkslateblue;
	display: block;
	float: right;
	margin: 100px 250px 0 0;
	padding-top: 10px;
	border-radius: 3mm;
}

button {
	display: block;
	margin: 10px auto;
	font-size: 1em;
}

#prologue {
	background-color: #BBB;
	height: 35em; width: 13em;
	float: left;
	margin-left: 5em;
	margin-top: 2em;
	font-family: sans-serif;
	padding-left: 0.7em;
	padding-right: 0.7em;
	text-align: justify;
	position: relative;
	border-radius: 3mm;
	color: #222;

}

#intro {
	text-align: center;
	font-size: 3em;
	padding-bottom: 0.3em;
}

#author {
	position: absolute;
	bottom: 0;
	margin-bottom: 0.7em;
}

.info {
	padding-top: 0.7em;
}

.play {
	padding-top: 2.5em;
	color: #4166F1;
}

.play2 {
	padding-top: 0.7em;
	color: #4166F1;
}

a {
	text-decoration: none;
	color: crimson;
}